button:not([disabled]) {
  cursor: pointer;
}

.NavBar {
  background-color: white;
  position: fixed;
  z-index: 10;
  padding-left: 9%;
  padding-right: 9%;
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 82%;
}
.CategorySelector {
  transition: transform 100ms ease-in-out 25ms;
  padding-right: 16px;
  padding-left: 16px;
  position: relative;
  top: -1px;
  height: 100%;
  font-size: 16px;
  font-family: raleway;
  font-weight: 700;
  color: var(--c-black);
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
}
.Arrow{
  margin-left: 10px;
  transition: transform 400ms ease-in-out 25ms;
  transform: rotateZ(180deg)
}
.Arrow.Flipped{
  transform: rotateZ(0deg)
}
  /* transform: `rotate(${180 * this.state.showCurrency + 180}deg)`, */
.CategorySelector.Selected {

  color: #5ECE7B;
  box-shadow: 0px 2px #5ece7b;
  font-weight: 800;
}
.CategorySelector:hover {
  transform: scale(1.1);
}
.Logo {
  transition: transform 100ms ease-in-out 25ms;
  height: 100%;
}
.Logo:hover {
  transform: scale(1.1);
}
.Logo:active {
  transform: scale(0.9);
}
.CategoriesContainer {
  left: 24px;
  position: relative;
  display: flex;
  justify-content: left;
  width: 45%;
}
.CurrencyCartContainer {
  display: flex;
  width: 45%;
  justify-content: right;
}
.LogoContainer {
  width: 10%;
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
  padding-top: 24px;
}
.CartButton {
  position: relative;
  color: #43464e;
  background-color: rgba(255, 255, 255, 0);
  border-width: 0px;
  height: 100%;
  font-size: 14px;
  font-family: raleway;
  font-weight: 700;
}
.ItemAmountCircle {
  top: 20%;
  left: 60%;
  position: absolute;
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--c-black);
  height: 20px;
  min-width: 20px;
  border-radius: 10px;
}
.ItemAmountCircle.Hidden {
  display: none;
}
.ItemAmountCircle p {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
