.ShopContainer{
    text-align: left;
    display: flex;
    height: 120%;
    flex-flow: column;
}
.Window{
    width: 100%;
    margin-bottom: 150px;
    column-gap: 72px;
    row-gap: 72px;
    display: grid;

    grid-template-columns: repeat(3, 24vw);
}
.CenteringContainer{
  display: flex;
  justify-content: center;
}
.CategoryHeader{
  margin-top: 70px;
  margin-bottom: 50px;
  font-family: raleway;
  font-weight: 700;
  font-size: 42px;
}